<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">

    <title>Mimir - a Toolkit for CTF</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ request.static_url('mimir:static/css/font-awesome.min.css') }}">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />
    <link href="{{request.static_url('mimir:static/css/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
    <![endif]-->
</head>

<body>
<div class="uk-grid">
    <header class="uk-width-1-1">Header</header>
    <nav class="uk-width-1-6">
        <ul class="sidenav uk-iconnav uk-iconnav-vertical uk-nav-parent-icon uk-nav-primary" uk-nav>
            <li class="uk-nav-header">Mimir</li>
            <li><a href="#"><span class="fa fa-dashboard"></span> Home</a></li>
{#            <li><a href="/cipher"><span class="fa fa-key"></span> Cipher</a></li>#}
{#            <li><a href="/hash"><span class="fa fa-hashtag"></span> Hash</a></li>#}
            <li><a href="/encoding"><span class="fa fa-cube"></span> Encoding</a></li>
            <li class="uk-parent"><a href="/tools"> <span class="fa fa-gavel"></span> Tools</a>
                <ul class="uk-nav-sub">
                    <li><a href="/tools/rest"><span class="fa fa-paper-plane"></span> REST Request</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container uk-width-5-6">
        {% block content %}
            <p>No content</p>
        {% endblock content %}
    </div>
    <footer class="uk-width-1-1">Footer</footer>
</div>


<!-- UIkit core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery is required -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
</body>
</html>
